<footer id="footer">
        <div class="container">
                <div class="row">
                        <f:cObject typoscriptObjectPath="lib.footer"/>
                        <!--<div class="footer-ribbon">
                                <span>Get in Touch</span>
                        </div>
                        <div class="col-md-3">
							<a class="logo push-bottom" href="index.html">
								<img src="typo3conf/ext/typo3_template/Resources/Public/img/logo-footer-small.png" alt="Porto Website Template">
							</a>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu pulvinar magna. Phasellus semper scelerisque purus, et semper nisl lacinia sit amet. Praesent venenatis turpis vitae purus semper, eget sagittis velit venenatis. <a class="btn-flat btn-xs" href="#">View More <i class="fa fa-arrow-right"></i></a></p>
						</div>
                        <div class="col-md-3">
							<h4>Latest Posts</h4>
							<ul class="nav nav-list primary push-bottom">
								<li><a href="blog-post.html" title="Class aptent taciti sociosqu ad litora torquent">Class aptent taciti sociosqu ad...</a></li>
								<li><a href="blog-post.html" title="Class aptent taciti sociosqu ad litora torquent">Aptent class taciti sociosqu...</a></li>
								<li><a href="blog-post.html" title="Class aptent taciti sociosqu ad litora torquent">Taciti aptent class sociosqu ad...</a></li>
								<li><a href="blog-post.html" title="Class aptent taciti sociosqu ad litora torquent">Sociosqu class aptent taciti...</a></li>
							</ul>
						</div>
                        <div class="col-md-4">
                                <div class="contact-details">
                                        <h4>Contact Us</h4>
                                        <ul class="contact">
                                                <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1234 Street Name, City Name, United States</p></li>
                                                <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (123) 456-7890</p></li>
                                                <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
                                        </ul>
                                </div>
                        </div>
                        <div class="col-md-2">
                                <h4>Follow Us</h4>
                                <div class="social-icons">
                                        <ul class="social-icons">
                                                <li class="facebook"><a title="" data-tooltip="" data-placement="bottom" target="_blank" href="http://www.facebook.com/" data-original-title="Facebook">Facebook</a></li>
                                                <li class="twitter"><a title="" data-tooltip="" data-placement="bottom" target="_blank" href="http://www.twitter.com/" data-original-title="Twitter">Twitter</a></li>
                                                <li class="linkedin"><a title="" data-tooltip="" data-placement="bottom" target="_blank" href="http://www.linkedin.com/" data-original-title="Linkedin">Linkedin</a></li>
                                        </ul>
                                </div>
                        </div>-->
                </div>
        </div>
        <div class="footer-copyright">
                <div class="container">
                        <div class="row">
                                <div class="col-md-8">
                                        <f:cObject typoscriptObjectPath="lib.footer.copyright"/>
                                </div>
                                <div class="col-md-4">
                                        <nav id="sub-menu">
                                                <f:cObject typoscriptObjectPath="lib.footer.navigation"/>
                                                <!--<ul>
                                                        <li><a href="page-faq.html">FAQ's</a></li>
                                                        <li><a href="sitemap.html">Sitemap</a></li>
                                                        <li><a href="contact-us.html">Contact</a></li>
                                                </ul>-->
                                        </nav>
                                </div>
                        </div>
                </div>
        </div>
</footer>