
<label for="nameEnglish">
	<f:translate key="tx_npiccertificate_domain_model_certificate.name_english" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="nameEnglish" /><br />
<label for="nameKhmer">
	<f:translate key="tx_npiccertificate_domain_model_certificate.name_khmer" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="nameKhmer" /><br />
<label for="certificateId">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="certificateId" /><br />
<label for="studentId">
	<f:translate key="tx_npiccertificate_domain_model_certificate.student_id" />
</label><br />
	<f:form.textfield property="studentId" /><br />
<label for="examDate">
	<f:translate key="tx_npiccertificate_domain_model_certificate.exam_date" />
</label><br />
	<f:form.textfield property="examDate"  value="{certificate.examDate->f:format.date()}" /><br />
<label for="major">
	<f:translate key="tx_npiccertificate_domain_model_certificate.major" />
</label><br />
	<f:form.textfield property="major" /><br />
<label for="certificateBachelor">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_bachelor" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="certificateBachelorTemp">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_bachelor_temp" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="certificateAssociate">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_associate" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="certificateAssociateTemp">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_associate_temp" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="certificateFoundation">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_foundation" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="transcript">
	<f:translate key="tx_npiccertificate_domain_model_certificate.transcript" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="dob">
	<f:translate key="tx_npiccertificate_domain_model_certificate.dob" />
</label><br />
	<f:form.textfield property="dob"  value="{certificate.dob->f:format.date()}" /><br />
<label for="photo">
	<f:translate key="tx_npiccertificate_domain_model_certificate.photo" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="pob">
	<f:translate key="tx_npiccertificate_domain_model_certificate.pob" />
</label><br />
	<f:form.textarea property="pob" cols="40" rows="15" /><br />
<label for="certificateMaster">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certificate_master" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />
<label for="certficateMasterTemp">
	<f:translate key="tx_npiccertificate_domain_model_certificate.certficate_master_temp" />
</label><br />
	<span>File upload is not implemented!</span><br  /><br />