{namespace n=Tx_News_ViewHelpers}

<f:layout name="Detail.html" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
            <div class="blog-posts single-post">
                <article class="post post-large blog-single-post">
                    <f:if condition="{newsItem.falMedia}">
                        <f:then>
                            <div class="post-image">
                                <div class="owl-carousel" data-plugin-options='{"items":1}'>

                                    <f:for each="{newsItem.falMedia}" as="media">
                                        <div>
                                            <div class="img-thumbnail">
                                                <img class="img-responsive" src="{settings.fileFolder}{media.originalResource.originalFile.identifier}" alt="{media.originalResource.originalFile.name}">
                                            </div>
                                        </div>
                                    </f:for>
                                </div>
                            </div>
                        </f:then>
                        <f:else>
                            <div class="post-image">
                                <div class="owl-carousel" data-plugin-options='{"items":1}'>
                                    <div>
                                        <div class="img-thumbnail">
                                            <img class="img-responsive" src="typo3conf/ext/typo3_template/Resources/Public/img/blog/blog-image-2.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </f:else>
                    </f:if>
                    

                    <div class="post-date">
                        <span class="day"><n:format.date format="%d">{newsItem.datetime}</n:format.date></span>
                        <span class="month"><n:format.date format="%B">{newsItem.datetime}</n:format.date> </span>
                    </div>

                    <div class="post-content">

                        <h2 class="blog-title">{newsItem.title}</h2>

                        <div class="post-meta">
                            <f:if condition="{newsItem.author}">
                                <span><i class="fa fa-user"></i>
                                    <f:translate key="author" arguments="{0:newsItem.author}"></f:translate>
                                </span>
                            </f:if>
                            <f:if condition="{newsItem.categories}">
                                <f:render partial="Category/Items" arguments="{categories:newsItem.categories, settings:settings}" />
                            </f:if>
                            <f:if condition="{newsItem.tags}">
                                <span><i class="fa fa-tags"></i>
                                    <f:for each="{newsItem.tags}" as="tag">
                                        {tag.title}&nbsp;
                                    </f:for>
                                </span>
                            </f:if>
                        </div>
                        <f:format.html>{newsItem.bodytext}</f:format.html>
                    </div>
                </article>
            </div>
            <hr />
			<!-- related things -->
			<div class="news-related-wrap row">

				<f:if condition="{newsItem.allRelatedSorted}">
					<!-- Related news records -->
					<div class="news-related news-related-news col-md-4">
						<h4>
							<f:translate key="related-news" />
						</h4>
						<ul>
							<f:for each="{newsItem.allRelatedSorted}" as="related">
								<li>
									<span class="news-related-news-date"><n:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</n:format.date></span>
									<n:link newsItem="{related}" settings="{settings}">
										{related.title}
									</n:link>
								</li>

							</f:for>
						</ul>
					</div>
				</f:if>

				<f:if condition="{newsItem.falRelatedFiles}">
					<!-- FAL related files -->
					<div class="news-related news-related-files col-md-4">
						<h4>
							<f:translate key="related-files" />
						</h4>
						<ul>
							<f:for each="{newsItem.falRelatedFiles}" as="relatedFile">
								<li>
									<span class="news-related-files-link">
										<n:format.fileDownload file="{relatedFile.originalResource.publicUrl}" configuration="{settings.relatedFiles.download}">
											<f:if condition="{relatedFile.originalResource.title}">
												<f:then>
													{relatedFile.originalResource.title}
												</f:then>
												<f:else>
													{relatedFile.originalResource.name}
												</f:else>
											</f:if>
										</n:format.fileDownload>
									</span>
									<span class="news-related-files-size">
										<n:format.fileSize file="{relatedFile.originalResource.publicUrl}" fileSize="{relatedFile.originalResource.size}" format="{settings.relatedFiles.fileSizeLabels}" />
									</span>
								</li>
							</f:for>
						</ul>
					</div>
				</f:if>

				<f:if condition="{newsItem.relatedLinks}">
					<!-- Related links -->
					<div class="news-related news-related-links col-md-4">
						<h4>
							<f:translate key="related-links" />
						</h4>
						<ul>
							<f:for each="{newsItem.relatedLinks}" as="relatedLink">
								<li>
									<f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
									<f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
								</li>
							</f:for>
						</ul>
					</div>
				</f:if>
			</div>
		</f:then>
	</f:if>
</f:section>