{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=Tx_Vhs_ViewHelpers}
<f:layout name="Content" />
<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:flux="http://fedext.net/ns/flux/ViewHelpers"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

<f:section name="Configuration">
	<flux:form wizardTab="Bootstrap" id="accordion" icon="{v:extension.path.resources(path: 'Icons/icon-carousel.gif')}">
		<flux:field.input name="settings.accordion.id" default="{v:random.string(length: 8)}" />
		<flux:form.sheet name="elements">
			<flux:form.section name="elements">
				<flux:form.object name="text">
                    <flux:field.checkbox name="active" />
                    <flux:field.input name="icon" />
					<flux:field.input name="title" />
					<flux:field.text name="text" enableRichText="False" />
				</flux:form.object>
			</flux:form.section>
		</flux:form.sheet>
	</flux:form>
</f:section>

<f:section name="Preview">
    <p>Accordion List</p>
	<p>Elements: {elements -> f:count()}</p>
</f:section>


<f:section name="Main">
	<v:var.set name="activeTabIndex" value="0" />
	<f:for each="{elements}" as="element" iteration="iteration">
		<f:if condition="{element.text.active}"><v:var.set name="activeTabIndex" value="{iteration.index}" /></f:if>
	</f:for>
    <div class="panel-group" id="accordion-{settings.feature.id}">
        <f:for each="{elements}" as="element" iteration="iteration">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-{settings.feature.id}" href="#collapse-{settings.feature.id}-{iteration.index}">
                            <i class="fa {element.text.icon}"></i>
                            {element.text.title}
                        </a>
                    </h4>
                </div>
                <div id="collapse-{settings.feature.id}-{iteration.index}" class="accordion-body collapse {f:if(condition: '{activeTabIndex} == {iteration.index}', then: 'in')}">
                    <div class="panel-body">
                        {element.text.text}
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>
</div>